<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>الكل</string>
	<string>Kamera</string>
	<string>Löschen</string>
	<string>Yorum eklemek için giriş yap</string>
	<string>Очистить кэш</string>
	<string>Enviando...</string>
	<string>ŁĄCZNIKI</string>
	<string>중국</string>
	<string>¿Quieres borrar todas las partes?</string>
	<string>Échec d&apos;autorisation</string>
	<string>Più recenti</string>
	<string>お勧め</string>
	<string>右手</string>
	<string>边城</string>
	<string>重庆</string>
	<string>区别</string>
	<string>重要</string>
	<string>行伍</string>
	<string>行走</string>
	<string>nia</string>
	<string>niz</string>
	<string>z</string>
	<string>a</string>
	<string>32</string>
	<string>laLa</string>
	<string>la{La</string>
	<string>la La</string>
	<string>la&lt;La</string>
	<string>la3La</string>
	<string>連接件</string>
	<string>&lt;</string>
	<string>#</string>
	<string>e</string>
	<string>E</string>
</array>
</plist>
