//
//  Release.xcconfig
//  MultipleConfig
//
//  Created by CXY on 2018/2/26.
//  Copyright © 2018年 ubtechinc. All rights reserved.
//
IS_APP_NAME = Release
IS_APP_VERSION = 0.1
IS_APP_BUNDLE_ID = com.intensifystudio.DonateRelease
IS_APP_ICON = AppIconRelease
BACKEND_URL = http:\/\/api.intensifystudio.com/
CONSUMER_KEY = ck_a57e4fa2e14c12f400371cf2951ec3dea5
CONSUMER_SECRET = cs_c847caa35ce1041e9c69d239141f1f63bb22b
